<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Browser</title>
<link rel="stylesheet" href="css/loader.css">
         <!-- Bootstrap CSS CDN -->
            <link rel="stylesheet" href="css/bootstrap.css">
     <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="css/style3.css">
    </head>
    <body>


   <div id="loading" class="loader">   
    </div>
     <div ng-app="myApp"  ng-controller="BrowserCtrl">
        <div class="wrapper">
          
                <div ng-include="'sidebar.html'"></div>

            <!-- Page Content Holder -->
            <div id="content" style="background-color: #596778;">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
     
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
<!-- Content Goes Here -->

<div class="form">
    <div class="form-group">
      <input type="text" ng-model="txtregion" class="form-control" placeholder="Region" name="">
    </div>
    <div class="form-group">
        <input type="text" name="" ng-model="txtgender" placeholder="Gender" class="form-control">
    </div>
     <div class="form-group">
        <input type="number" name="" ng-model="txtamount" placeholder="Amount" class="form-control">
    </div>
  
     <div class="form-group">
        <input type="button" class="btn btn-primary" value="Fetch Data" ng-click="Fetch()">
        <input type="button" class="btn btn-primary" value="Fetch Detailed" ng-click="FetchDetailed()">
        <span>{{alert}}</span>
    </div>
</div>
             

              <table class="table" ng-show="data">
                  <tr>
                     <th>Name</th>
                     <th>Surname</th> 
                     <th>Gender</th>
                     <th>Region</th>
                  </tr>
               <tr ng-repeat="values in data">
      <td>{{values.name}}</td>
      <td>{{values.surname}}</td>
      <td>{{values.gender}}</td>
      <td>{{values.region}}</td>
   </tr>
              </table>


            </div>
        </div>



        <div class="overlay"></div>

</div>
        <!-- jQuery CDN -->
         <script src="js/jquery.min.js"></script>
         <!-- Bootstrap Js CDN -->
          <script src="js/angular.min.js"></script>
         <script src="js/bootstrap.min.js"></script>
         <script src="js/index.js"></script>

         <!-- jQuery Nicescroll CDN -->
         <script src="js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="js/sc_index.js"></script>


<script>
    var app = angular.module('myApp', []);
    app.controller('BrowserCtrl', function ($scope, $http) {
        
  $scope.txtpasslength = 10;
//     $scope.regions = ["India", "Germany", "United States"];
// $scope.txtregion = $scope.regions[0].value;
    $scope.Fetch = function(){
        $scope.alert = "Wait ...";
        var url = "https://uinames.com/api/?";
        if($scope.txtregion){ url += "region="+$scope.txtregion;  }
  if($scope.txtgender){ url += "&gender="+$scope.txtgender;  }
   if($scope.txtamount){ url += "&amount="+$scope.txtamount;  }
     
        $http.get(url).then(function(response) {
        $scope.data = response.data;
         $scope.alert = "";
        });
       
    }

    $scope.FetchDetailed = function(){
             if($scope.txtregion){ sessionStorage.setItem("region",$scope.txtregion);  }
  if($scope.txtgender){ sessionStorage.setItem("gender",$scope.txtgender);  }
   if($scope.txtamount){ sessionStorage.setItem("amount",$scope.txtamount);  }

   window.location.href = "namesuggestdetailed.html";
    }
    
});

</script>


         <script type="text/javascript">
             $(document).ready(function () {
                 $("#sidebar").niceScroll({
                     cursorcolor: '#53619d',
                     cursorwidth: 4,
                     cursorborder: 'none'
                 });

                 $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                 });

                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').addClass('active');
                     $('.overlay').fadeIn();
                     $('.collapse.in').toggleClass('in');
                     $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                 });

              

             });
         </script>


    </body>
</html>
